Source: tizenpdk
Section: devel
Priority: optional
Maintainer: Donghoon Shin <dhs.shin@samsung.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://launchpad.net/~tizen.org

Package: tizenpdk
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
  gbs (>= 0.24.6),
  mic (>= 0.27.4),
  litmus (>= 0.3.7),
  lthor (>= 2.0),
  sdb (>= 2.3.0),
  trepo (>= 0.1),
Description: Tizen Platform Development Kit
  Tizen Platform Development Kit includes command line tools to develop tizen platform.
